<% if !user_signed_in? %> 

<div class="alert alert-warning" role="alert">
  This is a simple stock tracking page. <br>
  For example, Facebook => fb, Amazon => amzn. <br>
  Please Sign In for more options.
</div>
<% end %>
  <%= form_tag root_path, :method => 'POST' do %>
      <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
      <%= submit_tag 'Lookup' %>
  <% end %>

  <% if @stock %>
    <% if @stock == "" %>
      That stock doesn't exist!
    <%end %>
    
    <%= @stock.company_name %><br/>
    $<%=@stock.latest_price %><br/>

  <% elsif @nothing %>
    <%= @nothing %>
  <% end %>

  <% if @error %>
    <%= @error %>
  <% end %>
